.form-container {
  background-color: $color3;
  padding: 50px 50px;
  position: relative;
}
.formbox {
  background-color: $color3;
  margin-top: 50px;
  a {
    color: $white;
  }

  .ginput_container {
    background-color: $color3 !important;
    color: $white !important;
    font-size: 13px;
  }

  #input_1_3,
  #input_1_1,
  #input_1_4,
  #input_1_5 {
    background-color: $color3 !important;
    color: $white !important;
    border: none;
    border-bottom: solid 1px $white;
  }
  input::placeholder,
  textarea::placeholder {
    color: $white !important;
  }
  .gform_button {
    font-size: 16px;
    padding: 15px 30px;
    background-color: $color4;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 100;
    font-family: $font2;
    color: $white;
    border: none; /* Removes default button border */
    cursor: pointer; /* Ensures the button has a pointer cursor */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */

    &:hover {
      background-color: darken($color4, 10%); /* Darken the background color */
      transform: scale(1.05); /* Slightly enlarge the button */
    }

    &::after {
      content: "→";
      font-size: 16px;
      margin-left: 10px;
      display: inline-block; /* Required for animations */
      transition: margin-left 0.3s ease; /* Smooth transition for the arrow */
    }

    &:hover::after {
      margin-left: 15px; /* Moves the arrow to the right */
    }

    &:focus {
      outline: none; /* Removes focus outline */
      box-shadow: 0 0 5px rgba($color4, 0.5); /* Adds a subtle focus shadow */
    }
  }
}
.footer-contact-section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  .contact-section-title {
    color: $white;
    text-align: center;
    margin-bottom: 20px;
  }
}

.form-logo {
  width: 7%;
  max-width: 150px;
}

.contact-companies-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

.basis-contact {
  background-color: $white;
  display: flex;
  flex-direction: column;
  padding: 25px;
  flex: 0 1 auto;
  min-width: 200px;
  max-width: 250px;
  a {
    text-decoration: none;
  }
  p {
    color: $black;
  }
}

.gform_validation_errors {
  display: none;
}
.bottom-footer {
  p {
    color: $black;
  }
  a {
    color: $black;
    text-decoration: none;
  }
  .footer_links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .bottom-footer {
    .footer_links {
      width: 100%;
      flex-direction: column;
    }
  }
  .footer-contact-section {
    display: none;
  }
}
.form-title {
  p {
    justify-content: center;
    display: flex;
  }
}
