.single-cpt {
  padding-top: 200px;
  padding-bottom: 70px;
  .featured-image {
    height: 300px;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .content {
    p {
      color: black;
    }
  }
}
