.sales-downloads {
  padding: 150px 0;

  h2 {
    margin-bottom: 40px;
    color: black;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;

    > [class*="col-"] {
      margin-bottom: 30px;
      flex: 0 0 auto;
    }
  }

  .sales-download-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      font-size: 1.25rem;
      font-weight: 600;
      margin-bottom: 15px;
      color: black;
    }
  }

  .sales-download-list {
    list-style: disc;
    padding-left: 20px;
    margin: 0;

    li {
      margin-bottom: 8px;
      line-height: 1.6;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        color: #0066cc;
        text-decoration: underline;
        transition: color 0.2s ease;

        &:hover {
          color: #004499;
        }
      }
    }
  }

  @media (max-width: 768px) {
    padding: 150px 0;

    h2 {
      margin-bottom: 30px;
    }

    .sales-download-category {
      h3 {
        font-size: 1.1rem;
      }
    }
  }
}
