.text-with-image {
  padding: 70px 0px;
  .text_image {
    text-align: left;
    margin-bottom: 50px;

    h2 {
      margin: 0px 0px !important;
    }
    p {
      max-width: 536px !important;
    }

    @media only screen and (max-width: 768px) {
      text-align: left;
      margin: 0px;

      h2 {
        margin: 12px 0px !important;
      }
    }
  }
  .text_image__container {
    padding: 0px;
    height: 80%;
    display: flex;
    @media only screen and (max-width: 768px) {
      justify-content: center;
      height: 70%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: right;
    }
  }
  .btn {
    padding-left: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .map {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 14px !important;
    justify-content: center;
  }
}

// Map embed container styles
.map-embed-container {
  width: 100%;
  height: 100%;
  min-height: 400px;

  iframe {
    width: 100%;
    height: 100%;
    min-height: 400px;
    border: none;
  }
}
